# === UNIVERSAL ===
.DS_Store
report_*.txt
output*/
_temp*.?*
OTHER_REPOS/
# === LOCAL ===
# Template-only ignores.
# === PYTHON ===
build/
dist/
sdist/
*.egg
*.egg-info/
site/

# === TYPESCRIPT ===
node_modules/
dist_*/
_site/
*.tsbuildinfo
.eslintcache
.prettiercache
test-results/
playwright-report/
blob-report/
coverage/
meta.json
stats.html


